<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    
    <header>
        <p>This is a header</p>
    </header>
    <nav>
        <a href="/customers/index">Home</a>
        <a href="/customers/list">List Customers</a>
        <a href="/customers/details">Details of Customers</a>
        
        @Html.ActionLink("Create Entry","Create","Customers")
    </nav>

    <div>
        @RenderBody()
    </div>

    <footer>
        <p>This is  a footer</p>
    </footer>

    @RenderSection("CustomScripts",false)
</body>
</html>
